# Ignore dependencies, as they will be installed inside the container
node_modules

# Ignore build output directory
dist

# Ignore local environment variables file
.env

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore OS-specific files
.DS_Store

# Ignore IDE-specific folders
.vscode
.idea
 